@*source : https://codewithmukesh.com/blog/user-management-in-aspnet-core-mvc/*@


@model List<Watch_List.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Funções do utilizador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Funções do utilizador</h1>
<table class="table table-striped">
    <thead>
        <tr>

            <th>Email</th>
            <th>Funções</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
 
                <td>@user.Email</td>
                @*separador,  membros da lista*@
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Gestão de função</a>
                </td>
            </tr>
        }
    </tbody>
</table>