@{
    ViewData["Title"] = "Acerca de ...";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <th>
            Tecnologias da Internet II, Engenharia informática, 2021
        </th>
    </tr>
    <tr>

        <td>
            Cláudia Reis 20619
        </td>
        <td>
            Óscar Campos 21997
        </td>
    </tr>
    
    
            
   </table>
